<div class="home-container">
  <nav>
      <button (click)="redirect('https://pokeapi.co')">API Oficial</button>
      <button (click)="redirect('https://github.com/GabrielG1997')">GitHub</button>
    </nav>
    
    <main>
      <h1>Welcome to Pokedex</h1>
      <p>This project was created in order to practice the knowledge about angular during a bootcamp provided by DIO about Generative IA with Copilot in partnership with CAIXA, <br> One of the goals of this project was to create a simple e-book tutorial about how to recreate it (you'll find the tutorial in the resources folder of the github project) </p>
      <button (click)="goToSearch()">Buscar Pokémon</button>
    </main>
</div>
  